<!DOCTYPE html>
<html>
    <head>
        <title>Спортсмены</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <a href="{{url_for('welcome')}}">Главная страница</a>
        <h1 class="title">Спортсмены</h1>
        <h3>Наши товары рекомендуют:</h3>
        <table class="tab" cellpadding="15">
            <tr border="0" bgcolor="#ffd700">
                <th>№</th>
                <th>Имя</th>
                <th>E-mail</th>
                <th>Пол</th>
                <th>Дата</th>
            </tr>
            <tr bgcolor="#d3d3d3"><td>1</td><td>Копатыч</td><td>vedmed@mail.ru</td><td>М</td><td>2000-01-01</td></tr>
            <tr bgcolor="#fdf5e6"><td>1</td><td>Копатыч</td><td>vedmed@mail.ru</td><td>М</td><td>2000-01-01</td></tr>
            <tr bgcolor="#d3d3d3"><td>1</td><td>Копатыч</td><td>vedmed@mail.ru</td><td>М</td><td>2000-01-01</td></tr>
            <tr bgcolor="#fdf5e6"><td>1</td><td>Копатыч</td><td>vedmed@mail.ru</td><td>М</td><td>2000-01-01</td></tr>
    </body>
</html>