<!DOCTYPE html>
<html>
    <head>
        <title>Контакты</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon">
    </head>
    <body>
        <a href="{{url_for('welcome')}}">Главная страница</a>
        <h1 class="title">Контакты</h1>
        <p>Эта страница для просмотра контактов</p>
        <img src="/static/images/contacts.png" width="30px" align="left" alt="">
        <h3 class="contact">_Наш телефон: 222-22-22_</h3>
        <h3 class="contact">Наш e-male: info@website.com</h3>
    </body>
</html>